main {
  height: 100vh;
}

.main-bg {
  background: url(../img/hero_bg_image.png) no-repeat center center fixed;
  background-size: contain;
  background-position: center;
  height: 100vh;
  position: relative;
}

