main {
  height: 100vh;
}

.main-bg {
  background: url(../img/hero_bg_image.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

