.img-logo {
    width: 160px;
    height: auto;
}

.fixed-top {
    background: url(../img/hero_bg_image.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background-color: #081456;
}