/* .sobre-nos {
    background-image: url(/src/img/bg_image.jpg);
    padding: 50px; 
    color: #ffffff;
}
  */

/* .sobre-nos {
    margin: 40px;
    border: 1px solid black;
} */


  
